body {
    background-color:#EDDCD2;
}

 .nome-font {
     font-family: 'Roboto', sans-serif;
     text-align: justify;
 }

 strong {
     color: #CB997E;
     font-weight: 600;
 }

 #souEu {
     border-radius: 100%;
 }